bpelContent/loanapprover.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://soacourse.unsw.edu.au/loandefinitions"
	xmlns:ns1="http://soacourse.unsw.edu.au/loanapprover" name="loanApprovalPT"
	targetNamespace="http://soacourse.unsw.edu.au/loanapprover">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://soacourse.unsw.edu.au/loandefinitions"
			elementFormDefault="qualified" targetNamespace="http://soacourse.unsw.edu.au/loandefinitions"
			version="1.0">

			<xs:element name="approvalMessage" type="tns:approvalType" />

			<xs:element name="creditInformationMessage" type="tns:loanInputType" />

			<xs:element name="riskAssessmentMessage" type="tns:riskType" />

			<xs:complexType name="loanInputType">
				<xs:sequence>
					<xs:element name="firstName" type="xs:string" />
					<xs:element name="name" type="xs:string" />
					<xs:element name="amount" type="xs:integer" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="approvalType">
				<xs:sequence>
					<xs:element name="accept" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="riskType">
				<xs:sequence>
					<xs:element name="risk" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

		</xs:schema>
	</wsdl:types>
	<wsdl:message name="approveResponse">
		<wsdl:part element="ns2:approvalMessage" name="loanresp">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="approve">
		<wsdl:part element="ns2:creditInformationMessage" name="loanreq">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="loanApprovalPT">
		<wsdl:operation name="approve">
			<wsdl:input message="ns1:approve" name="approve">
			</wsdl:input>
			<wsdl:output message="ns1:approveResponse" name="approveResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>